body {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #f2798d;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

div.main {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  width: 30%;
  margin: 10% auto;
  padding: 5%;
  background-color: #647487;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
div.main h1 {
  text-align: left;
  margin-top: -5%;
  margin-bottom: 10%;
}
div.main form input.inline {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  width: 75%;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  color: white;
}
div.main form input.inline::placeholder {
  color: white;
}
div.main a {
  color: white;
  text-decoration: none;
}
div.main a:hover {
  text-decoration: none;
  color: #f2798d;
  text-shadow: 1px 0;
}
div.main div.button button {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  background-color: #f2798d;
  margin-top: 5%;
  border: none;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 35%;
  color: white;
}
div.main div.button button:hover {
  color: #647487;
}
